body {
  background-color: #F9F9FB;
  transition: background-color 0.2s ease-in;
}

/* main {
  transition: background-color 0.2s ease-in;
} */

.dark-mode, .dark-mode .btn-view-all {
  color: #ffffff;
}

.dark-mode, .dark-mode .section-seh {
  background-color: #1a202c;
}

.alway-show {
  display: flex;    
  align-items: center;
}

@media (max-width: 420px) {
  .alway-show {    
    width: 60%;
  }

  .alway-show .form-switch {
    display: none;
  }

  .ratio-21x9 {
    --bs-aspect-ratio: 75%;
  }  
}

@media (max-width: 992px) {
  .overflow-x-auto {
    overflow-x: auto;
  }

  .alway-show {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 16px;
    align-items: center;
  }

  .h2, h2 {
    font-size: calc(1.325rem + .4vw);
  }
}

.dark-mode .form-check-input:checked {
  background-color: white;
  border-color: white;
}

.form-check-input:focus {  
  box-shadow: none;
}

.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
}

.bg-shadow {
  background: rgba(76, 76, 76, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
  background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}

.zoom img {
  transition: all 0.3s linear;
}

.zoom:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-orange {
  color: #fff;
  background-color: #f94144;
  border-color: #f94144;
}

.btn-view-all:hover {
  color: #f94144;
}